.companyOrgChart {
  padding: 16px;
}

.teams {
  background-color: #f3f2f1;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 120px;
  margin-bottom: 16px;
}

.links {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 8px;
}
